NetFramework/Database/bin/
NetFramework/Database/obj/
NetFramework/Models/bin
NetFramework/Models/obj/
NetFramework/NetFramework/bin/
NetFramework/NetFramework/obj/
NetFramework/packages/
NetFramework/UnitTestDatabase/bin/
NetFramework/UnitTestDatabase/obj/
NetFramework/UnitTestNetFramework/obj/
NetFramework/UnitTestNetFramework/bin/
NetFramework/UnitTestService/bin/
NetFramework/UnitTestService/obj/
NetFramework/Services/bin/
NetFramework/Services/obj/
NetFramework/Common/bin/
NetFramework/Common/obj/
NetFramework/UnitTestCommon/bin/
NetFramework/UnitTestCommon/obj/
NetFramework/.vs/NetFramework/v16/TestStore/
